@function pxTorem($px) {
  @return $px / 100 * 1rem;
}

$red: #b20a19;

@mixin title($marginTop,$fontColor:#333) {
    .title {
        margin-top: pxTorem($marginTop);
        font-size: pxTorem(36);
        color: $fontColor;
        text-align: center;
        span {
            color: $red;
        }
    }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #ffffff;
}

input {
  border: 0;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #666;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #666;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #666;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666;
}

.wrapper {
    position: relative;
    height: 100%;
    max-width: pxTorem(750);
    margin: 0 auto;
    overflow: hidden;
    .logo {
        background: #fff;
        line-height: 0;
        width: 100%;
        height: 0.9rem;
        margin: 0 auto;
    }

    .logo img {
        width: 100%;
        height: 0.9rem;
        margin: 0;
    }

    .title-font {
        margin-top: 1.1rem;
        text-align: center;
        font-size: 0.36rem;
        font-weight: 900;
        color: #444444;
    }

    .title-font .font-kong {
        padding-left: 0.42rem;
    }

    .nav {
        background: #fff;
        width: 100%;
        height: 0.9rem;
    }

    .nav-center {
        margin: 0 auto;
        background: #fff;
        width: 7.1rem;
        height: 0.9rem;
    }

    .nav-center .home {
        float: left;
        margin-top: 0.24rem;
        margin-left: 0.35rem;
        width: 0.5rem;
        height: 0.47rem;
        background: url("../imgs/home.png") no-repeat no-repeat center;
        background-size: 100%;
    }

    .nav-center ul {
        margin: 0;
        padding: 0;
        float: right;
        width: 5.8rem;
        height: 100%;
    }

    .nav-center ul li {
        margin-top: 0.24rem;
        float: left;
        height: 100%;
        margin-right: 0.4rem;
        line-height: 0;
    }

    .nav-center ul li a {
        text-align: center;
        font-size: 0.36rem;
        color: #464646;
    }

    .nav-center ul li:hover a {
        color: #b3171b;
    }
    .banner {
        width: 100%;
        overflow: hidden;
        .banner-swiper-container {
            width: 100%;
            height: 100%;
        }
        .swiper-slide {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            img {
                width: pxTorem(750);
            }
        }
    }
    .box-item1 {
        width: 100%;
        overflow: hidden;
        @include title(20);
        .intro {
            position: relative;
            margin-top: pxTorem(50);
            width: 100%;
            height: pxTorem(325);
            .course {
                margin: 0 auto;
                width: pxTorem(690);
                border: 1px solid transparent;
                overflow: hidden;
                span {
                    float: left;
                    display: block;
                    width: pxTorem(148);
                    height: pxTorem(65);
                    font-size: pxTorem(28);
                    color: #fff;
                    background: $red;
                    text-align: center;
                    line-height: pxTorem(65);
                }
                .detail {
                    position: relative;
                    float: left;
                    margin-left: pxTorem(20);
                    width: pxTorem(515);
                    height: pxTorem(105);
                    background: #eee;
                    p {
                        margin: 0 auto;
                        margin-top: pxTorem(20);
                        width: pxTorem(457);
                        font-size: pxTorem(24);
                        color: $red;
                    }
                    div {
                        position: absolute;
                        width: pxTorem(65);
                        height: pxTorem(30);
                    }
                    .lt {
                        border-left: 1px solid $red;
                        border-top: 1px solid $red;
                        left: 0;
                        top: 0;
                    }
                    .rt {
                        border-right: 1px solid $red;
                        border-top: 1px solid $red;
                        right: 0;
                        top: 0;
                    }
                    .lb {
                        border-left: 1px solid $red;
                        border-bottom: 1px solid $red;
                        left: 0;
                        bottom: 0;
                    }
                    .rb {
                        right: 0;
                        bottom: 0;
                        border-right: 1px solid $red;
                        border-bottom: 1px solid $red;
                    }
                }
            }
            .subject {
                margin: 0 auto;
                margin-top: pxTorem(30);
                width: pxTorem(690);
                border: 1px solid transparent;
                overflow: hidden;
                span {
                    float: left;
                    display: block;
                    width: pxTorem(148);
                    height: pxTorem(65);
                    font-size: pxTorem(28);
                    color: #fff;
                    background: $red;
                    text-align: center;
                    line-height: pxTorem(65);
                }
                .detail {
                    float: left;
                    position: relative;
                    margin-left: pxTorem(20);
                    width: pxTorem(515);
                    height: pxTorem(140);
                    font-size: pxTorem(24);
                    background: #eee;
                    p {
                        margin-left: pxTorem(25);
                        margin-top: pxTorem(20);
                        width: pxTorem(297);
                        font-size: pxTorem(24);
                        color: $red;
                    }
                    div {
                        position: absolute;
                        width: pxTorem(65);
                        height: pxTorem(30);
                    }
                    .lt {
                        border-left: 1px solid $red;
                        border-top: 1px solid $red;
                        left: 0;
                        top: 0;
                    }
                    .rt {
                        border-right: 1px solid $red;
                        border-top: 1px solid $red;
                        right: 0;
                        top: 0;
                    }
                    .lb {
                        border-left: 1px solid $red;
                        border-bottom: 1px solid $red;
                        left: 0;
                        bottom: 0;
                    }
                    .rb {
                        right: 0;
                        bottom: 0;
                        border-right: 1px solid $red;
                        border-bottom: 1px solid $red;
                    }
                }
            }
            .front-pic {
                position: absolute;
                right: 0;
                bottom: 0;
                width: pxTorem(678);
            }
        }
    }
    .box-item2 {
        margin-top: pxTorem(50);
        width: 100%;
        height: pxTorem(704);
        background: url(../imgs/box-item2-bg.jpg) center no-repeat;
        background-size: 100%;
        overflow: hidden;
        @include title(40,#fff);
        .subtitle {
            margin: pxTorem(25) 0;
            font-size: pxTorem(28);
            color: #fff;
            text-align: center;
        }
        .subject-content {
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: flex-start;
            margin: 0 auto;
            width: pxTorem(712);
            .item {
                width: pxTorem(171);
                .item-pic {
                    display: block;
                    width: 100%;
                }
                .item-title {
                    margin: pxTorem(20) 0 pxTorem(25);
                    color: #fff;
                    text-align: center;
                    font-size: pxTorem(24);
                }
            }
        }
    }
    .box-item3 {
        width: 100%;
        overflow: hidden;
        @include title(40);
        .class {
            margin-top: pxTorem(45);
            width: pxTorem(731);
            height: pxTorem(659);
            overflow: hidden;
            background: url(../imgs/box-item3-bg.png) center no-repeat;
            background-size: 100%;
            .row1 {
                width: 100%;
                overflow: hidden;
                p {
                    margin-top: pxTorem(55);
                    margin-left: pxTorem(40);
                    float: left;
                    width: pxTorem(200);
                    color: #fff;
                    font-size: pxTorem(22);
                    text-align: center;
                    .big {
                        display: block;
                        font-size: pxTorem(28);
                        line-height: pxTorem(40);
                    }
                    .del {
                        text-decoration: line-through;
                    }
                }
                p:nth-child(3) {
                    text-align: left;
                    text-indent: pxTorem(40);
                }
            }
            .row2 {
                width: 100%;
                overflow: hidden;
                p {
                    margin-top: pxTorem(190);
                    margin-left: pxTorem(55);
                    float: left;
                    width: pxTorem(285);
                    color: #fff;
                    font-size: pxTorem(22);
                    text-align: center;
                    .big {
                        display: block;
                        font-size: pxTorem(28);
                        line-height: pxTorem(40);
                    }
                }
                p:nth-child(2) {
                    margin-top: pxTorem(130);
                    margin-left: pxTorem(50);
                    text-align: left;
                    .item {
                        display: block;
                        margin-bottom: pxTorem(5);
                        width: pxTorem(350);
                        overflow: hidden;
                        img {
                            display: block;
                            float: left;
                            margin-right: pxTorem(10);
                            margin-top: pxTorem(4);
                            width: pxTorem(28);
                        }
                        span {
                            display: block;
                            float: left;
                            width: pxTorem(290);
                        }
                    }
                    .item:nth-child(2) {
                        margin-top: pxTorem(20);
                    }
                }
            }
        }
    }
    .box-item4 {
        margin-top: pxTorem(50);
        width: 100%;
        height: pxTorem(1009);
        overflow: hidden;
        background: url(../imgs/box-item4-bg.jpg) center no-repeat;
        background-size: 100%;
        @include title(40,#fff);
        .subtitle {
            margin: pxTorem(25) 0;
            font-size: pxTorem(28);
            color: #fff;
            text-align: center;
        }
        .step-swiper-container {
            width: 100%;
            .swiper-wrapper {
                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    width: pxTorem(530);
                    height: pxTorem(700);
                    opacity: .5;
                    .item {
                        width: pxTorem(530);
                        height: pxTorem(700);
                        background: url(../imgs/step-bg.png) center no-repeat;
                        border-radius: pxTorem(2);
                        overflow: hidden;
                        .title {
                            margin: pxTorem(25) 0;
                            font-size: pxTorem(32);
                            color: #fff;
                            text-align: center;
                        }
                        .detail {
                            margin: 0 auto;
                            width: pxTorem(485);
                            height: pxTorem(580);
                            background: #fff;
                            border-radius: pxTorem(2);
                            overflow: hidden;
                            h4, p {
                                margin: 0 auto;
                                width: pxTorem(450);
                            }
                            h4 {
                                margin-top: pxTorem(15);
                                margin-bottom: pxTorem(5);
                                font-size: pxTorem(26);
                                font-weight: normal;
                                color: $red;
                            }
                            p,table {
                                font-size: pxTorem(22);
                                color: #333;
                                line-height: pxTorem(41);
                            }
                            table {
                                display: block;
                                margin: 0 auto;
                                width: pxTorem(465);
                            }
                            table tr {
                                td {
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                    .item4 {
                        .detail {
                            table:nth-child(2) tr {
                                td:nth-child(2) {
                                    width: pxTorem(175);
                                }
                                td:nth-child(4) {
                                    width: pxTorem(135);
                                }
                            }
                        }
                    }
                    .item6 {
                        .detail {
                            table:nth-child(2) tr {
                                td:nth-child(2) {
                                    width: pxTorem(180);
                                }
                                td:nth-child(4) {
                                    width: pxTorem(230);
                                }
                            }
                        }
                    }
                    .item7 {
                        .detail {
                            table:nth-child(2) {
                                width: 100%;
                                white-space: nowrap;
                                tr {
                                    td:nth-child(2) {
                                        width: pxTorem(180);
                                    }
                                    td:nth-child(4) {
                                        width: pxTorem(230);
                                    }
                                }
                            }
                        }
                    }
                }
                .swiper-slide-active {
                    opacity: 1;
                }
            }
        }
        .swiper-container-horizontal>.swiper-pagination-bullets {
            bottom: pxTorem(-100);
            .swiper-pagination-bullet {
                background: #fff;
            }
            .swiper-pagination-bullet-active {
                background: $red;

            }
        }
    }
    .box-item5 {
        width: 100%;
        overflow: hidden;
        @include title(40);
        .box-item5-content {
            margin-top: pxTorem(40);
            position: relative;
            width: 100%;
            height: pxTorem(610);
            background: url(../imgs/box-item5-bg.png) center top no-repeat;
            background-size: 100%;
            p {
                position: absolute;
                font-size: pxTorem(22);
                color: #333;
            }
            .item1 {
                width: pxTorem(177);
                top: pxTorem(110);
                left: pxTorem(40);
            }
            .item2 {
                width: pxTorem(233);
                top: pxTorem(110);
                right: pxTorem(10);
            }
            .item3 {
                width: pxTorem(200);
                top: pxTorem(293);
                left: pxTorem(30);
            }
            .item4 {
                width: pxTorem(200);
                top: pxTorem(293);
                right: pxTorem(10);
            }
            .item5 {
                width: pxTorem(275);
                top: pxTorem(493);
                left: pxTorem(30);
            }
            .item6 {
                width: pxTorem(250);
                top: pxTorem(493);
                right: pxTorem(10);
            }
        }
    }
    .box-item6 {
        margin-top: pxTorem(55);
        width: 100%;
        height: pxTorem(1023);
        overflow: hidden;
        background: url(../imgs/box-item6-bg.jpg) center no-repeat;
        background-size: 100%;
        @include title(40,#fff);
        .subtitle {
            margin: pxTorem(25) 0 pxTorem(40);
            font-size: pxTorem(28);
            color: #fff;
            text-align: center;
        }
        .who {
            margin: 0 auto;
            width: pxTorem(711);
            overflow: hidden;
            .title {
                margin: 0 auto;
                padding-bottom: pxTorem(10);
                width: pxTorem(146);
                color: #fff;
                font-size: pxTorem(46);
                text-align: center;
                border-bottom: pxTorem(7) solid $red;
            }
            .info {
                margin-top: pxTorem(25);
                display: flex;
                display: -webkit-flex;
                flex-wrap: nowrap;
                justify-content: space-around;
                width: 100%;
                height: pxTorem(277);
                overflow: hidden;
                background: url(../imgs/who-bg.png) center no-repeat;
                background-size: 100%;
                .item {
                    width: pxTorem(218);
                    margin-top: pxTorem(40);
                    .pic {
                        display: block;
                        margin: 0 auto;
                        width: pxTorem(121);
                    }
                    .detail {
                        font-size: pxTorem(24);
                        color: #333;
                        text-align: center;
                    }
                }
            }
        }
        .want {
            margin: 0 auto;
            width: pxTorem(711);
            overflow: hidden;
            .title {
                margin: 0 auto;
                padding-bottom: pxTorem(10);
                width: pxTorem(146);
                color: #fff;
                font-size: pxTorem(46);
                text-align: center;
                border-bottom: pxTorem(7) solid $red;
            }
            .info {
                margin-top: pxTorem(25);
                display: flex;
                display: -webkit-flex;
                flex-wrap: nowrap;
                justify-content: space-around;
                width: 100%;
                height: pxTorem(283);
                overflow: hidden;
                background: url(../imgs/want-bg.png) center no-repeat;
                background-size: 100%;
                .item {
                    margin-top: pxTorem(40);
                    .pic {
                        display: block;
                        margin: 0 auto;
                        height: pxTorem(115);
                    }
                    .detail {
                        font-size: pxTorem(24);
                        color: #fff;
                        text-align: center;
                    }
                }
                .item1 {
                    width: pxTorem(240);
                }
                .item2 {
                    width: pxTorem(170);
                }
                .item3 {
                    width: pxTorem(200);
                }
            }
        }
    }
    .box-item7 {
        width: 100%;
        height: pxTorem(705);
        overflow: hidden;
        background: url(../imgs/form-bg.png) center no-repeat;
        background-size: 100%;
        .title {
            margin: pxTorem(45) 0;
            font-size: pxTorem(36);
            color: $red;
            text-align: center;
        }
        .form-content {
            margin: 0 auto;
            width: pxTorem(680);
            height: pxTorem(490);
            background: #fff;
            border-radius: pxTorem(5);
            box-shadow: 0 0 pxTorem(30) 1px #999;
            overflow: hidden;
            .name, .tel {
                margin: 0 auto;
                width: pxTorem(600);
                height: pxTorem(88);
                overflow: hidden;
                input {
                    display: block;
                    margin-left: pxTorem(90);
                    width: pxTorem(500);
                    height: pxTorem(82);
                    color: #333;
                    font-size: pxTorem(28);
                    background:none;
                    outline:none;
                    border: pxTorem(3) solid $red;
                    border-radius: pxTorem(8);
                    text-indent: pxTorem(20);
                }
            }
            .name {
                margin-top: pxTorem(82);
                background: url(../imgs/form-name.png) left center no-repeat;
                background-size: pxTorem(44) pxTorem(52);
            }
            .tel {
                margin-top: pxTorem(45);
                background: url(../imgs/form-tel.png) left center no-repeat;
                background-size: pxTorem(56) pxTorem(56);
            }
            .submit {
                border: 0;
                outline: 0;
                margin: 0 auto;
                margin-top: pxTorem(54);
                display: flex;
                display: -webkit-flex;
                justify-content: center;
                align-items: center;
                width: pxTorem(250);
                height: pxTorem(78);
                font-size: pxTorem(36);
                color: #fff;
                background: #b20a19;
                text-align: center;
                line-height: pxTorem(36);
                border-radius: pxTorem(8);
                img {
                    display: block;
                    margin-left: pxTorem(5);
                    height: pxTorem(26);
                }
            }
        }
    }
    .box-item8 {
        width: 100%;
        height: pxTorem(1277);
        overflow: hidden;
        background: url(../imgs/question-bg.jpg) center no-repeat;
        background-size: 100%;
        text-align: center;
        padding-bottom: pxTorem(100);
        .title {
            margin-top: pxTorem(100);
            font-size: pxTorem(36);
            color: #fff;
            text-align: center;
        }
        .item {
            display: flex;
            display: -webkit-flex;
            justify-content: space-around;
            align-items: center; 
            margin: 0 auto;
            margin-bottom: pxTorem(20);
            width: pxTorem(715);
            height: pxTorem(160);
            background: #fff;
            border-radius: pxTorem(8);
            text-align: left;
            .item-content {
                width: pxTorem(495);
                .question {
                    font-size: pxTorem(26);
                    color: $red;
                }
                .answer {
                    font-size: pxTorem(22);
                    color: #333;
                }
            }
            .pic {
                display: block;
                width: pxTorem(143);
            }
        }
        .item1 {
            margin-top: pxTorem(40);
        }
        .item2, .item4 {
            .pic {
                order: -1;
            }
        }
        .item3 {
            height: pxTorem(230);
        }
        .item4 {
            height: pxTorem(290);
        }
        .more {
            display: inline-flex;
            display: -webkit-inline-flex;
            justify-content: center;
            align-items: center;
            width: pxTorem(295);
            height: pxTorem(78);
            font-size: pxTorem(36);
            color: #fff;
            background: #b20a19;
            text-align: center;
            line-height: pxTorem(36);
            border-radius: pxTorem(8);
            img {
                display: block;
                margin-left: pxTorem(5);
                height: pxTorem(26);
            }
        }
    }
}