@function pxTorem($px) {
  @return $px / 93.75 * 1rem;
}

$red: #c01920;

@mixin topTitle($width:pxTorem(300)) {
    .title {
        width: pxTorem(750);
        height: pxTorem(120);
        background: url(../imgs/title-bg.png) center no-repeat;
        background-size: 100%;
        overflow: hidden;
        .info {
            margin: 0 auto;
            margin-top: pxTorem(40);
            width: pxTorem(520);
            height: pxTorem(60);
            border: 1px solid #191614;
            .item1 {
                margin: 0 auto;
                margin-top: pxTorem(-45);
                width: $width;
                font-size: pxTorem(50);
                color: #c01920;
                text-align: center;
                font-weight: bold;
                background: #fff;
            }
            .item2 {
                font-size: pxTorem(30);
                color: #191614;
                text-align: center;
                font-weight: bold;
                line-height: pxTorem(30);
            }
        }
    }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #ffffff;
}

input {
  border: 0;
}

.wrapper {
    position: relative;
    height: 100%;
    max-width: pxTorem(750);
    margin: 0 auto;
    overflow: hidden;
    .logo {
        width: 100%;
        height: 0.96rem;
        position: relative;
        z-index: 3;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }

    .nav {
        width: 100%;
        height: 0.853333rem;
        background: #fff;
        position: relative;
        z-index: 3;
    }

    .nav-content {
        margin: 0 auto;
        height: 100%;
        width: pxTorem(600);
        overflow: hidden;
    }
    .nav-content .home {
        float: left;
        margin-top: 0.2rem;
        width: 0.5rem;
        height: 0.47rem;
        font-size: 0.64rem;
        color: #464646;
        background: url("../imgs/home.png") no-repeat no-repeat center;
        background-size: 100%;
    }
    .nav-content ul {
        float: left;
        height: 100%;
        margin-left: 0.533333rem;
    }

    .nav-content ul li {
        float: left;
        height: 100%;
        line-height: 0.4rem;
        margin-right: 0.597333rem;
    }

    .nav-content ul li:last-child {
        margin-right: 0;
    }

    .nav-content ul li a {
        font-size: 0.32rem;
        color: #464646;
    }
    .box-item1 {
        width: pxTorem(750);
        height: pxTorem(740);
        background: url(../imgs/banner.png) center no-repeat;
        background-size: 100%;
        overflow: hidden;
        p {
            text-align: center;
        }
        p:nth-child(1) {
            font-size: pxTorem(24);
            color: $red;
            margin-top: pxTorem(365);
        }
        p:nth-child(2), p:nth-child(3) {
            margin: 0 auto;
            width: pxTorem(470);
            height: pxTorem(35);
            font-size: pxTorem(22);
            color: #191614;
            margin-top: pxTorem(25);
            border: 1px solid #191614;
            line-height: pxTorem(35);
        }
        p:nth-child(3) {
            margin-top: pxTorem(15);
        }
    }
    .box-item2 {
        margin-top: 20px;
        width: 100%;
        overflow: hidden;
        @include topTitle;
        .course {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 0 auto;
            width: pxTorem(670);
            overflow: hidden;
            li {
                margin-bottom: pxTorem(57);
                width: pxTorem(210);
                height: pxTorem(315);
                border: 1px solid #333;
                .item-title {
                    color: #333;
                    margin: 0 auto;
                    margin-top: pxTorem(-20);
                    width: pxTorem(192);
                    font-size: pxTorem(26);
                    text-align: center;
                    background: #fff;
                    font-weight: bold;
                }
                .item-pic {
                    display: block;
                    margin: pxTorem(10) auto pxTorem(25);
                    width: pxTorem(204);
                    height: pxTorem(207);
                }
                .item-btn {
                    display: block;
                    margin: 0 auto;
                    width: pxTorem(200);
                    height: pxTorem(43);
                    color: #fff;
                    background: $red;
                    font-size: pxTorem(24);
                    text-align: center;
                    line-height: pxTorem(43);
                    border-radius: pxTorem(30);
                }
            }
            // li:nth-child(3n) {
            //     margin-right: 0;
            // }
            .course-item1, .course-item2, .course-item3 {
                margin-top: pxTorem(30);
            }
            .course-item1 .item-title {
                width: pxTorem(120);
            }
            .course-item2 .item-title {
                width: pxTorem(140);
            }
            .course-item3 .item-title {
                width: pxTorem(150);
            }
            .course-item4 .item-title {
                width: pxTorem(160);
            }
            .course-item5 .item-title {
                width: pxTorem(170);
            }
            .course-item6 .item-title {
                width: pxTorem(150);
            }
            .course-item7 .item-title {
                width: pxTorem(160);
            }
            .course-item8 .item-title {
                width: pxTorem(170);
            }
        }
    }
    .box-item3 {
        width: 100%;
        overflow: hidden;
        @include topTitle(pxTorem(300));
        .work {
            margin-top: pxTorem(60);
            width: pxTorem(750);
            height: pxTorem(820);
            background: url(../imgs/work-bg.png) center bottom no-repeat;
            background-size: 100%;
            overflow: hidden;
            .reason {
                display: flex;
                display: -webkit-flex;
                justify-content: space-around;
                align-items: center;
                margin: 0 auto;
                width: pxTorem(650);
                height: pxTorem(160);
                margin-bottom: pxTorem(37);
                background: $red;
                border-radius: 0 pxTorem(80) pxTorem(80) 0;
                .pic {
                    width: pxTorem(135);
                }
                .detail {
                    width: pxTorem(380);
                    font-size: pxTorem(18);
                    color: #000;
                    line-height: pxTorem(30);
                    span {
                        font-size: pxTorem(36);
                    }
                }
            }
            .reason2, .reason4 {
                flex-direction: row-reverse;
                justify-content: center;
                border-radius: pxTorem(80) 0 0 pxTorem(80);
            }
        }
    }
    .box-item4 {
        margin-top: pxTorem(10);
        width: 100%;
        overflow: hidden;
        @include topTitle(pxTorem(300));
        .job {
            margin: 0 auto;
            margin-top: pxTorem(50);
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
            width: pxTorem(620);
            .item {
                position: relative;
                margin-bottom: pxTorem(25);
                width: pxTorem(265);
                height: pxTorem(177);
                border: 2px solid #000;
                &:after {
                    content: '';
                    position: absolute;
                    left: pxTorem(3);
                    top: pxTorem(3);
                    width: pxTorem(265);
                    height: pxTorem(177);
                    border: 2px solid #000;
                    z-index: -1;
                }
                .question {
                    width: 100%;
                    height: 50%;
                    line-height: pxTorem(177/2);
                    font-size: pxTorem(29);
                    text-align: center;
                    color: #fff;
                    background: $red;
                }
                .click-area {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 50%;
                    .click {
                        font-size: pxTorem(42);
                        font-weight: bold;
                        text-align: center;
                        color: #000;
                    }
                    .hand {
                        width: pxTorem(56);
                        margin-left: pxTorem(5);
                    }
                }
            }
        }
    }
    .box-item5 {
        margin-top: pxTorem(36);
        width: 100%;
        overflow: hidden;
        @include topTitle(pxTorem(300));
        .aboutus {
            margin: 0 auto;
            margin-top: pxTorem(50);
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
            width: pxTorem(620);
            .item {
                position: relative;
                margin-bottom: pxTorem(25);
                width: pxTorem(265);
                height: pxTorem(177);
                border: 2px solid #000;
                &:after {
                    content: '';
                    position: absolute;
                    left: pxTorem(3);
                    top: pxTorem(3);
                    width: pxTorem(265);
                    height: pxTorem(177);
                    border: 2px solid #000;
                    z-index: -1;
                }
                .question {
                    width: 100%;
                    height: 50%;
                    line-height: pxTorem(177/2);
                    font-size: pxTorem(29);
                    text-align: center;
                    color: #fff;
                    background: $red;
                }
                .click-area {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 50%;
                    .click {
                        font-size: pxTorem(42);
                        font-weight: bold;
                        text-align: center;
                        color: #000;
                    }
                    .hand {
                        width: pxTorem(56);
                        margin-left: pxTorem(5);
                    }
                }
            }
        }
        .free-btn {
            display: block;
            margin: 0 auto;
            width: pxTorem(610);
            height: pxTorem(95);
            color: #fff;
            background: #c01920;
            font-size: pxTorem(39);
            text-align: center;
            line-height: pxTorem(95);
            border-radius: pxTorem(48);
            letter-spacing: pxTorem(4);
        }
    }
    .footer {
        margin-top: pxTorem(45);
        width: 100%;
        height: pxTorem(110);
        padding-bottom: pxTorem(100);
        color: #191614;
        background: #bab9b8;
        font-size: pxTorem(21);
        text-align: center;
        line-height: pxTorem(110);
    }
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999999;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        opacity: 0;
        -webkit-transition: opacity 0.5s ease;
        -moz-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        -o-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
        .modal-content {
          position: relative;
          width: 100%;
          height: pxTorem(1017);
          background: url("../imgs/modal-bg.png") no-repeat center center;
          background-size: 100%;
          p {
            position: absolute;
            top: 60%;
            left: 50%;
            text-align: center;
            -webkit-transform: translateX(-45%);
            -moz-transform: translateX(-45%);
            -ms-transform: translateX(-45%);
            -o-transform: translateX(-45%);
            transform: translateX(-45%);
            font-size: pxTorem(36);
            color: #333333;
            line-height: pxTorem(60);
            letter-spacing: pxTorem(3);
            span {
              font-size: pxTorem(48);
              color: #c32410;
            }
          }
          a {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: pxTorem(538);
            height: pxTorem(90);
            border-bottom-left-radius: pxTorem(10);
            border-bottom-right-radius: pxTorem(10);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            background: #c32410;
            font-size: pxTorem(56);
            color: #ffffff;
            line-height: pxTorem(90);
            text-align: center;
            letter-spacing: pxTorem(5);
          }
        }
        .modal-content button {
          position: absolute;
          top: 6.2rem;
          right: .85rem;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          content: '';
          width: pxTorem(60);
          height: pxTorem(60);
          background: url("../imgs/close-modal.png") no-repeat center center;
          background-size: 100%;
          border: 0;
          outline: none;
        }
    }
}