* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #ffffff;
}

input {
  border: 0;
}

.wrapper {
  position: relative;
  height: 100%;
  max-width: 8rem;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper .logo {
  width: 100%;
  height: 0.96rem;
  position: relative;
  z-index: 3;
}

.wrapper .logo img {
  width: 100%;
  height: 100%;
}

.wrapper .nav {
  width: 100%;
  height: 0.853333rem;
  background: #fff;
  position: relative;
  z-index: 3;
}

.wrapper .nav-content {
  margin: 0 auto;
  height: 100%;
  width: 6.4rem;
  overflow: hidden;
}

.wrapper .nav-content .home {
  float: left;
  margin-top: 0.2rem;
  width: 0.5rem;
  height: 0.47rem;
  font-size: 0.64rem;
  color: #464646;
  background: url("../imgs/home.png") no-repeat no-repeat center;
  background-size: 100%;
}

.wrapper .nav-content ul {
  float: left;
  height: 100%;
  margin-left: 0.533333rem;
}

.wrapper .nav-content ul li {
  float: left;
  height: 100%;
  line-height: 0.4rem;
  margin-right: 0.597333rem;
}

.wrapper .nav-content ul li:last-child {
  margin-right: 0;
}

.wrapper .nav-content ul li a {
  font-size: 0.32rem;
  color: #464646;
}

.wrapper .box-item1 {
  width: 8rem;
  height: 7.89333rem;
  background: url(../imgs/banner.png) center no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.wrapper .box-item1 p {
  text-align: center;
}

.wrapper .box-item1 p:nth-child(1) {
  font-size: 0.256rem;
  color: #c01920;
  margin-top: 3.89333rem;
}

.wrapper .box-item1 p:nth-child(2), .wrapper .box-item1 p:nth-child(3) {
  margin: 0 auto;
  width: 5.01333rem;
  height: 0.37333rem;
  font-size: 0.23467rem;
  color: #191614;
  margin-top: 0.26667rem;
  border: 1px solid #191614;
  line-height: 0.37333rem;
}

.wrapper .box-item1 p:nth-child(3) {
  margin-top: 0.16rem;
}

.wrapper .box-item2 {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}

.wrapper .box-item2 .title {
  width: 8rem;
  height: 1.28rem;
  background: url(../imgs/title-bg.png) center no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.wrapper .box-item2 .title .info {
  margin: 0 auto;
  margin-top: 0.42667rem;
  width: 5.54667rem;
  height: 0.64rem;
  border: 1px solid #191614;
}

.wrapper .box-item2 .title .info .item1 {
  margin: 0 auto;
  margin-top: -0.48rem;
  width: 3.2rem;
  font-size: 0.53333rem;
  color: #c01920;
  text-align: center;
  font-weight: bold;
  background: #fff;
}

.wrapper .box-item2 .title .info .item2 {
  font-size: 0.32rem;
  color: #191614;
  text-align: center;
  font-weight: bold;
  line-height: 0.32rem;
}

.wrapper .box-item2 .course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 7.14667rem;
  overflow: hidden;
}

.wrapper .box-item2 .course li {
  margin-bottom: 0.608rem;
  width: 2.24rem;
  height: 3.36rem;
  border: 1px solid #333;
}

.wrapper .box-item2 .course li .item-title {
  color: #333;
  margin: 0 auto;
  margin-top: -0.21333rem;
  width: 2.048rem;
  font-size: 0.27733rem;
  text-align: center;
  background: #fff;
  font-weight: bold;
}

.wrapper .box-item2 .course li .item-pic {
  display: block;
  margin: 0.10667rem auto 0.26667rem;
  width: 2.176rem;
  height: 2.208rem;
}

.wrapper .box-item2 .course li .item-btn {
  display: block;
  margin: 0 auto;
  width: 2.13333rem;
  height: 0.45867rem;
  color: #fff;
  background: #c01920;
  font-size: 0.256rem;
  text-align: center;
  line-height: 0.45867rem;
  border-radius: 0.32rem;
}

.wrapper .box-item2 .course .course-item1, .wrapper .box-item2 .course .course-item2, .wrapper .box-item2 .course .course-item3 {
  margin-top: 0.32rem;
}

.wrapper .box-item2 .course .course-item1 .item-title {
  width: 1.28rem;
}

.wrapper .box-item2 .course .course-item2 .item-title {
  width: 1.49333rem;
}

.wrapper .box-item2 .course .course-item3 .item-title {
  width: 1.6rem;
}

.wrapper .box-item2 .course .course-item4 .item-title {
  width: 1.70667rem;
}

.wrapper .box-item2 .course .course-item5 .item-title {
  width: 1.81333rem;
}

.wrapper .box-item2 .course .course-item6 .item-title {
  width: 1.6rem;
}

.wrapper .box-item2 .course .course-item7 .item-title {
  width: 1.70667rem;
}

.wrapper .box-item2 .course .course-item8 .item-title {
  width: 1.81333rem;
}

.wrapper .box-item3 {
  width: 100%;
  overflow: hidden;
}

.wrapper .box-item3 .title {
  width: 8rem;
  height: 1.28rem;
  background: url(../imgs/title-bg.png) center no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.wrapper .box-item3 .title .info {
  margin: 0 auto;
  margin-top: 0.42667rem;
  width: 5.54667rem;
  height: 0.64rem;
  border: 1px solid #191614;
}

.wrapper .box-item3 .title .info .item1 {
  margin: 0 auto;
  margin-top: -0.48rem;
  width: 3.2rem;
  font-size: 0.53333rem;
  color: #c01920;
  text-align: center;
  font-weight: bold;
  background: #fff;
}

.wrapper .box-item3 .title .info .item2 {
  font-size: 0.32rem;
  color: #191614;
  text-align: center;
  font-weight: bold;
  line-height: 0.32rem;
}

.wrapper .box-item3 .work {
  margin-top: 0.64rem;
  width: 8rem;
  height: 8.74667rem;
  background: url(../imgs/work-bg.png) center bottom no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.wrapper .box-item3 .work .reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 6.93333rem;
  height: 1.70667rem;
  margin-bottom: 0.39467rem;
  background: #c01920;
  border-radius: 0 0.85333rem 0.85333rem 0;
}

.wrapper .box-item3 .work .reason .pic {
  width: 1.44rem;
}

.wrapper .box-item3 .work .reason .detail {
  width: 4.05333rem;
  font-size: 0.192rem;
  color: #000;
  line-height: 0.32rem;
}

.wrapper .box-item3 .work .reason .detail span {
  font-size: 0.384rem;
}

.wrapper .box-item3 .work .reason2, .wrapper .box-item3 .work .reason4 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.85333rem 0 0 0.85333rem;
}

.wrapper .box-item4 {
  margin-top: 0.10667rem;
  width: 100%;
  overflow: hidden;
}

.wrapper .box-item4 .title {
  width: 8rem;
  height: 1.28rem;
  background: url(../imgs/title-bg.png) center no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.wrapper .box-item4 .title .info {
  margin: 0 auto;
  margin-top: 0.42667rem;
  width: 5.54667rem;
  height: 0.64rem;
  border: 1px solid #191614;
}

.wrapper .box-item4 .title .info .item1 {
  margin: 0 auto;
  margin-top: -0.48rem;
  width: 3.2rem;
  font-size: 0.53333rem;
  color: #c01920;
  text-align: center;
  font-weight: bold;
  background: #fff;
}

.wrapper .box-item4 .title .info .item2 {
  font-size: 0.32rem;
  color: #191614;
  text-align: center;
  font-weight: bold;
  line-height: 0.32rem;
}

.wrapper .box-item4 .job {
  margin: 0 auto;
  margin-top: 0.53333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 6.61333rem;
}

.wrapper .box-item4 .job .item {
  position: relative;
  margin-bottom: 0.26667rem;
  width: 2.82667rem;
  height: 1.888rem;
  border: 2px solid #000;
}

.wrapper .box-item4 .job .item:after {
  content: '';
  position: absolute;
  left: 0.032rem;
  top: 0.032rem;
  width: 2.82667rem;
  height: 1.888rem;
  border: 2px solid #000;
  z-index: -1;
}

.wrapper .box-item4 .job .item .question {
  width: 100%;
  height: 50%;
  line-height: 0.944rem;
  font-size: 0.30933rem;
  text-align: center;
  color: #fff;
  background: #c01920;
}

.wrapper .box-item4 .job .item .click-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
}

.wrapper .box-item4 .job .item .click-area .click {
  font-size: 0.448rem;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.wrapper .box-item4 .job .item .click-area .hand {
  width: 0.59733rem;
  margin-left: 0.05333rem;
}

.wrapper .box-item5 {
  margin-top: 0.384rem;
  width: 100%;
  overflow: hidden;
}

.wrapper .box-item5 .title {
  width: 8rem;
  height: 1.28rem;
  background: url(../imgs/title-bg.png) center no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.wrapper .box-item5 .title .info {
  margin: 0 auto;
  margin-top: 0.42667rem;
  width: 5.54667rem;
  height: 0.64rem;
  border: 1px solid #191614;
}

.wrapper .box-item5 .title .info .item1 {
  margin: 0 auto;
  margin-top: -0.48rem;
  width: 3.2rem;
  font-size: 0.53333rem;
  color: #c01920;
  text-align: center;
  font-weight: bold;
  background: #fff;
}

.wrapper .box-item5 .title .info .item2 {
  font-size: 0.32rem;
  color: #191614;
  text-align: center;
  font-weight: bold;
  line-height: 0.32rem;
}

.wrapper .box-item5 .aboutus {
  margin: 0 auto;
  margin-top: 0.53333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 6.61333rem;
}

.wrapper .box-item5 .aboutus .item {
  position: relative;
  margin-bottom: 0.26667rem;
  width: 2.82667rem;
  height: 1.888rem;
  border: 2px solid #000;
}

.wrapper .box-item5 .aboutus .item:after {
  content: '';
  position: absolute;
  left: 0.032rem;
  top: 0.032rem;
  width: 2.82667rem;
  height: 1.888rem;
  border: 2px solid #000;
  z-index: -1;
}

.wrapper .box-item5 .aboutus .item .question {
  width: 100%;
  height: 50%;
  line-height: 0.944rem;
  font-size: 0.30933rem;
  text-align: center;
  color: #fff;
  background: #c01920;
}

.wrapper .box-item5 .aboutus .item .click-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
}

.wrapper .box-item5 .aboutus .item .click-area .click {
  font-size: 0.448rem;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.wrapper .box-item5 .aboutus .item .click-area .hand {
  width: 0.59733rem;
  margin-left: 0.05333rem;
}

.wrapper .box-item5 .free-btn {
  display: block;
  margin: 0 auto;
  width: 6.50667rem;
  height: 1.01333rem;
  color: #fff;
  background: #c01920;
  font-size: 0.416rem;
  text-align: center;
  line-height: 1.01333rem;
  border-radius: 0.512rem;
  letter-spacing: 0.04267rem;
}

.wrapper .footer {
  margin-top: 0.48rem;
  width: 100%;
  height: 1.17333rem;
  padding-bottom: 1.06667rem;
  color: #191614;
  background: #bab9b8;
  font-size: 0.224rem;
  text-align: center;
  line-height: 1.17333rem;
}

.wrapper .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.wrapper .modal .modal-content {
  position: relative;
  width: 100%;
  height: 10.848rem;
  background: url("../imgs/modal-bg.png") no-repeat center center;
  background-size: 100%;
}

.wrapper .modal .modal-content p {
  position: absolute;
  top: 60%;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-45%);
  transform: translateX(-45%);
  font-size: 0.384rem;
  color: #333333;
  line-height: 0.64rem;
  letter-spacing: 0.032rem;
}

.wrapper .modal .modal-content p span {
  font-size: 0.512rem;
  color: #c32410;
}

.wrapper .modal .modal-content a {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 5.73867rem;
  height: 0.96rem;
  border-bottom-left-radius: 0.10667rem;
  border-bottom-right-radius: 0.10667rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #c32410;
  font-size: 0.59733rem;
  color: #ffffff;
  line-height: 0.96rem;
  text-align: center;
  letter-spacing: 0.05333rem;
}

.wrapper .modal .modal-content button {
  position: absolute;
  top: 6.2rem;
  right: .85rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '';
  width: 0.64rem;
  height: 0.64rem;
  background: url("../imgs/close-modal.png") no-repeat center center;
  background-size: 100%;
  border: 0;
  outline: none;
}
/*# sourceMappingURL=index.css.map */